body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
}

#chessboard {
    width: 480px;
    height: 480px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 4px solid #000;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.light {
    background-color: #f0d9b5;
}

.square.dark {
    background-color: #b58863;
}

.square img {
    width: 48px;
    height: 48px;
}
.square.selected {
    outline: 3px solid red;
}
.square:hover {
    cursor: pointer;
}
.square img {
    pointer-events: none;
}
/* ===============================
   Pawn Promotion Modal
================================ */

.promotion-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.promotion-box {
  background: #fff;
  padding: 15px;
  display: flex;
  gap: 15px;
  border-radius: 8px;
}

.promotion-box img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.hidden {
  display: none;
}
