DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_NAME=royalmind
DB_PORT=5432

JWT_SECRET=replace_with_a_secure_secret
VERIFICATION_SECRET=replace_with_a_different_secure_secret
NODE_ENV=development
MAIL_FORCE_DEV=false
UNVERIFIED_ACCOUNT_RETENTION_HOURS=72
PORT=7000

GMAIL_USER=yourgmail@gmail.com
GMAIL_APP_PASSWORD=your_16_character_app_password
MAIL_FROM="RoyalMind <yourgmail@gmail.com>"
