DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_NAME=royalmind
DB_PORT=5432

JWT_SECRET=replace_with_a_secure_secret
VERIFICATION_SECRET=replace_with_a_different_secure_secret
NODE_ENV=development
MAIL_FORCE_DEV=false
UNVERIFIED_ACCOUNT_RETENTION_HOURS=72
PORT=7000

GMAIL_USER=yourgmail@gmail.com
GMAIL_APP_PASSWORD=your_16_character_app_password
MAIL_FROM="RoyalMind <yourgmail@gmail.com>"

ESEWA_TEST_MODE=true
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_FORM_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_STATUS_URL=https://rc.esewa.com.np/api/epay/transaction/status/
ESEWA_SUCCESS_BASE_URL=http://127.0.0.1:7000
ESEWA_FAILURE_BASE_URL=http://127.0.0.1:7000
CLIENT_BASE_URL=http://localhost:3000
